.featured-speaker {
  &-outer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-presenter {
    // flex-basis: 3;
    width: 70%;
    text-align: left;
    margin-left: 3rem;
  }

  &-name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  &-affiliation {
    font-style: italic;
  }

  &-title {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-talk {
    margin-top: 1rem;
  }

  &-photo {
    margin: 1rem;
    max-width: 20%;
  }

  &-bio {
    width: 90%;
    font-style: italic;
    margin-top: 1rem;
    font-size: 90%;
  }

  &-presenter {
    margin: 1rem;
  }

  &-talk {
    width: 90%;
  }
  
}