@import "./variables.scss";
@import "./mixins.scss";

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: $background-light;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: $body-dark;
}

a {
  color: $body-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: auto;
}

.section {
  padding: $section-padding-mobile 0;

  @include respond-to("small") {
    padding: $section-padding 0;
  }
}

main {
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  
  p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.badge {
  background-color: $background-medium;
  color: white;
  border-radius: 2px;
  font-size: 0.7rem;
  padding: 0.15rem 0.25rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 0.6rem;

  &-long::after {
    content: "Long";
    background-color: blue;
  }

  &-abstract::after {
    content: "Abstract";
    background-color: greenyellow
  }

  &-short::after {
    content: "Short";
    background-color: blueviolet;
  }

  &-adcs::after {
    content: "ADCS";
    background-color: red
  }

  &-doctoral::after {
    content: "Doctoral";
  }
  
  &-sharedTask::after {
    content: "Shared Task";
    background-color: purple
  }
  
}

