@import "./variables.scss";
@import "./mixins.scss";

.header {
  height: 450px;
  background-color: $background-light;

  @include respond-to("medium") {
    height: 575px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-image {
    height: 150px;
    margin-bottom: 30px;
    margin-right: 20px;

    @include respond-to("small") {
      height: 200px;
      margin-bottom: 0;
    }

    @include respond-to("medium") {
      height: 300px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    color: $body-dark;

    @include respond-to("small") {
      flex-basis: 430px;
      text-align: left;
      width: 50%;
      align-items: flex-start;
    }

    @include respond-to("medium") {
      flex-basis: 500px;
    }
  }

  &-name {
    @include xlarge-font();
  }

  &-extra-info {
    margin-top: 1rem;
    font-style: italic;
    @include medium-font();
  }

  &-tagline {
    @include large-font();
    margin-top: 1rem;
    width: 400px;
  }
}

